<h1><%= @company.name %></h1>
  <dl>
    <dt>Local:</dt>
    <dd><%= @company.location %></dd>
    <dt>Telefone:</dt>
    <dd><%= @company.phone %><dd>
    <dt>Email:</dt>
    <dd><%= @company.mail %></dd>
  </dl>
<%= link_to "Voltar", root_path %>
